<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Simplicy Walktrough Demo Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Simplicy Walktrough Demo WatchKit Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Simplicy Walktrough Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64BFA7C01A2086F300AB1085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64BFA7D01A2086F300AB1085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0055F3819E1241D004927B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0055F5119E1241E004927B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
